@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");

#quote-box {
    min-height: 200px;
    max-width: 600px;
    width: 95%;
}
#text {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: bold;
}
#author {
    font-size: 24px;
    font-style: italic;
    font-family: "Arial", san-serif;
}
.hide {
    opacity: 0;
}
.show {
    animation: fade-in 1.5s forwards;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
